@using GaleriUygulamasi.Models

@{
    ViewBag.Title = "Anasayfa";
}
@section breadCrumbTitle{/Anasayfa}

<style>
    .tile {
        box-shadow: 0 1px 1px rgba(0,0,0,.15);
        height: 200px;
        width: auto;
        padding: 50px;
        margin-right: 50px;
    }

    .tile a{
        text-decoration:none;
    }

        .tile a:hover {
            color:#4b5ce2;
            cursor:pointer;
        }
</style>


<div class="row">
    <div class="col-md-6 tile" style="background-color:#ff6a00;">
        <h3><a href="/Home/Upload" style="color:#fff;"><i class="fa fa-download"></i>Dosya Yükle</a></h3>
    </div>
    <div class="col-md-6 tile" style="background-color:#b200ff;">
        <h3><a href="/Home/Galeri" style="color:#fff;"><i class="fa fa-image"></i>Galeri Yönetimi</a></h3>
    </div>
</div>